        html,
        body {
            height: 100%;
            margin: 0;
        }

        .leaflet-container {
            height: 400px;
            width: 600px;
            max-width: 100%;
            max-height: 100%;
        }

#map {
    width: 100%;
    height: 100%;
}

.submit-button{
    background-color: #2A7A84;
    color: white;
    border: solid 0px navy;
    border-radius: 5px;
    padding: 5px 15px;
    margin-left: 40%;
    margin-top: 10px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}