        html,
        body {
            height: 100%;
            margin: 0;
        }

        * {
            font-family: 'Nunito', sans-serif;
            font-size: 1rem;
        }
        .leaflet-container {
            height: auto;
            width: auto;
            max-width: 100%;
            max-height: 100%;
        }

#map {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 10;
    border: #007466 solid 3px;
    box-sizing: border-box;
}

.submit-button{
    background-color: #007466;
    color: white;
    border: solid 0px #007466;
    width: 100%;
    padding: 10px 35px;
    margin-top: 10px;
    font-size: 1rem;
}
.submit-button:hover {
    background-color: #006355;
    cursor: pointer;
}

.attribution_map{
    font-size: 10px;
    float: right;
}

.attribution_map > a {
    font-size: 10px;
}

.guestbook_map_container {
    padding: 25px;
    background-color: rgb(242, 242, 242);
    display: flex;
    flex-flow: row;
    gap: 25px;
    aspect-ratio: 16 / 9;
}

@media screen and (max-width: 800px) {
    .guestbook_map_container {
        flex-flow: column;
        aspect-ratio: 16 / 10;
    }
}

.guestbook-form{
    /* background-color: blue; */
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 1rem;
}
input[type=text]:hover {
    background-color: rgb(242, 242, 242);
}
input[type=text]:focus {
    background-color: rgb(242, 242, 242);
}
.guestbook_entry{
    /* background-color: #2A7A84; */
    padding: 10px;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid #007466;
}
#message{
    border: none;
    border-bottom: 2px solid #007466;
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
}
#message:hover {
    background-color: rgb(242, 242, 242);
}

#message:focus {
    background-color: rgb(242, 242, 242);
}

#info{
    /* margin: 0px; */
    padding: 10px;
    border-top: 3px solid #007466;
    border-right: 3px solid #007466;
    border-left: 3px solid #007466;
}

.alert{
    background-color: rgb(255, 148, 148);
    transition: background-color 0.5s;
    color: rgb(74, 0, 0);
}

.tip {
    background-color: rgb(255, 245, 137);
    transition: background-color 0.5s;
    color: rgb(97, 97, 0);
}

.succes{
    background-color: rgb(195, 255, 169);
    transition: background-color 0.5s;
    color: rgb(0, 56, 0);
}